.slot {
  position: absolute;
  border: solid black 2px;
  background-color: black;
  overflow: hidden;
  transition: 0.7s;
}

.selected-slot {
  border: solid #23547c 10px;
}

.slot:hover {
  border: solid #23547c 10px;
}