// COLOURS
$foxbat-blue: #0A64CB;
$foxbat-website-blue: #306ACC;
$foxbat-light-blue: #428bca;
$white-background: #e6e6e6;
$popup-background: white;
$input-background: lightyellow;
$warning-red: #8f4343;
$light-red: rgba(255, 0, 0, 0.27);