.configurator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

// LEFT SIDE
.panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  width: 75vw;
  text-align: center;
}

// INSTRUMENT PANEL
#svgbox{
  /* border: black solid 1px; */
  position: relative;
  width: 75%;
}

.panel-svg .svg-line {
stroke:#6f7174;
stroke-width: 1px;
fill: #ACB3B8;
}

#a22svg {
width: 100%;
height: auto;
}

#a32svg {
width: 100%;
height: auto;
}

.slot {
  position: absolute;
  border: solid #6f7174 1px;
  background-color: #ACB3B8;
  overflow: hidden;
  box-shadow: inset -1px -1px 1px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.selected-slot, .slot:hover {
  border-color: #23547c;
  box-shadow: 0px 0px 5px 5px #23547c, inset 0px 0px 5px 5px #23547c;
}

.panel-button-group {

}
.panel-button-group button {
  width: 20rem;
}

// SIDEBAR
.sidebar {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100vh;
  width: 25vw;
  overflow-y: scroll;
}

.sidebar-top {
  position: relative;
  margin: 0;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  background: $foxbat-blue;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

.sidebar-top-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 0;
  height: 50px;
  padding: 5px 10px;
}

.sidebar-top h3 {
  width: 100%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.sidebar-lower {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2px;
  height: calc(100% - 100px);
  background: #C4C4C4;
  overflow-y: auto;
}

.sidebar-text {
  display: flex;  
  flex-grow: 1;
  flex-direction: column;  
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px); 
  margin: 0;
  color: #1b1b1b;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 150%;
}

.sidebar-text p {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.instrument-list {
  padding: 0 5px;
}

.instrument-list .main-button {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  height: fit-content;
  cursor: pointer;
}

.instrument-list .btnimg {
  margin: 5px auto;
}

.instrument-list .button-text{
  margin: auto;
  font-size: 1.5em;
}

.sidebar .exit-button-X {
  font-size: 1.5em;
  cursor: pointer;
}

.instrument-details {
  padding: 5px;
  width: 100%;
  background: $white-background;
}

.instrument-details p {
  font-size: 1.5rem;
  text-align: left;
  line-height: 125%;
}

.instrument-preview {
  margin: 3rem auto;
}

.instrument-preview p {
  font-size: 2rem;
  text-align: center;
}

.instrument-preview img {
  display: block;
}

/*  MEDIA QUEEEEEEERIES */
@media screen and (min-width: 1000px) {
  .sidebar-lower {
    padding: 10px;
  }
  .instrument-list {
    padding: 0 20px;
  }
  .instrument-list .main-button {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }
  .instrument-list .button-text{
    font-size: 2em;
  }
}