.sidebar * {

}

.sidebar {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  overflow-y: scroll;
}

.sidebar-top {
  position: relative;
  margin: 0;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  background: $foxbat-blue;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

.sidebar-top-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 0;
  height: 50px;
  padding: 5px 10px;
}

.sidebar-top h3 {
  width: 100%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.sidebar-lower {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2px;
  height: calc(100% - 100px);
  background: #C4C4C4;
  overflow-y: auto;
}

.sidebar-text {
  display: flex;  
  flex-grow: 1;
  flex-direction: column;  
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px); 
  margin: 0;
  color: #1b1b1b;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 150%;
}

.sidebar-text p {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.instrument-list {
  padding: 0 5px;
}
.instrument-list .main-button {
  margin-top: 5px;
  width: 100%;
  height: fit-content;
  cursor: pointer;
}

.instrument-list .button-text{
  margin: auto;
  font-size: 1.5em;
}

.sidebar .exit-button-X {
  font-size: 1.5em;
  cursor: pointer;
}

/*  MEDIA QUEEEEEEERIES */
@media screen and (min-width: 1000px) {
  .sidebar-lower {
    padding: 10px;
  }
  .instrument-list {
    padding: 0 20px;
  }
  .instrument-list .main-button {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }
  .instrument-list .button-text{
    font-size: 2em;
  }
}