@import 'styles/constants';
@import 'styles/buttons';
@import 'styles/configurator';

.App {
  text-align: center;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 84vh;
  text-align: center;
  background: white;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin: 3rem auto;
  font-size: 3.2rem;
}

h2 {
  margin: 2rem auto;
  font-size: 2.4rem;
}

h3 {
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: normal;
}

.logo-div {
  width: 100vw;
  height: 16vh;
  min-height: 5.3rem;
  max-height: 11rem;
  border-bottom: #01013a 1px solid;
}
.foxbat-logo {
  top: 0;
  margin: auto;
  height: 15vh;
  min-height: 5rem;
  max-height: 10rem;
  width: auto;
}

.selection-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing-page-rectangle {
  margin: 2rem;
  padding: 0;
  cursor: pointer;
}

.landing-page-rectangle:hover {
  border-color: #23547c;
  box-shadow: 0px 0px 5px 5px #23547c;
}

.plane-selector{
  height:20rem;
  cursor: pointer;
}

.center {
  text-align: center;
}

.template {
  border: 1px solid black;
  height: 128px;
  width: 256px;
  cursor: pointer;
}

.template-with-text {
  width: 256px;
  display: inline-block;
  margin: 20px;
}

.base-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: scroll;
  left: 50%;
  top: 50%;
  width: 87.5%;
  height: 87.5%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5%;
  z-index: 10;
  background: $popup-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  h2 {
    strong {
      color: $foxbat-blue;
    }
  }
  form label {
    height: 30px;
    height: 3rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 25px;
    margin: 2.5rem;
    input {
      background: $input-background;
      min-width: 50px;
      min-width: 50rem;
      height: 30px;
      height: 3rem;
      font-size: 20px;
      font-size: 2rem;
    }
  }
  select {
    border:2px solid $foxbat-blue;
    width: 40rem;
    max-width: 100%;
    min-height: 10rem;
  }
  option {
    // min-width: 40rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 1.5rem;
  }
  .errmsg {
    background: $light-red;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: 2rem;
  }
  .round-exit-button {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    top: 0rem;
    right: 0rem;
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 0;
  }
}

.form-text {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}