.save-form-button {
  margin-top: 30px; }

.main-button {
  margin: 2rem auto;
  height: 45px;
  max-width: 400px;
  background-color: #306ACC;
  border-radius: 5px;
  color: #f5f5f5f5;
  cursor: pointer; }

.button-text {
  text-align: center;
  font-size: 1.6rem;
  margin: 35px;
  font-weight: 300; }

.btnimg {
  display: block;
  width: 50%;
  margin: auto; }

.round-exit-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #333333;
  margin-top: -6.5%;
  margin-left: calc(113.5% - 70px); }

.exit-button-X {
  font-size: 64px;
  font-size: 6.4rem;
  color: #F2F2F2;
  position: relative;
  top: -8px;
  left: 1px; }

.landing-page-rectangle {
  cursor: pointer; }

.configurator {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }

.configurator-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 9rem; }

.panel-container {
  display: flex;
  margin-top: 9rem;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  width: 75vw;
  text-align: center; }

#svgbox {
  /* border: black solid 1px; */
  position: relative;
  width: 75%; }

.panel-svg .svg-line {
  stroke: #6f7174;
  stroke-width: 1px;
  fill: #ACB3B8; }

#a22svg {
  width: 100%;
  height: auto; }

#a32svg {
  width: 100%;
  height: auto; }

.slot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #6f7174 1px;
  background-color: #ACB3B8;
  overflow: hidden;
  box-shadow: inset -1px -1px 1px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer; }

.slot img {
  z-index: 1; }

.slot-label {
  position: absolute;
  font-size: 1rem;
  z-index: 1; }

.selected-slot, .slot:hover {
  border-color: #23547c;
  box-shadow: 0px 0px 5px 5px #23547c, inset 0px 0px 5px 5px #23547c; }

.panel-button-group button {
  width: 20rem; }

.sidebar {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100%;
  width: 25vw;
  overflow-y: scroll; }

.sidebar-top {
  position: relative;
  margin: 0;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  background: #306ACC;
  color: #F5F5F5; }

.sidebar-top-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 0;
  height: 30px;
  padding: 5px 10px; }

.sidebar-top h3 {
  width: 100%;
  margin: 2rem auto 1rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #F2F2F2; }

.sidebar-lower {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
  height: calc(100% - 100px);
  background: #C4C4C4;
  overflow-y: auto; }

.sidebar-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  margin: 0;
  color: #1b1b1b;
  text-align: left;
  line-height: 150%; }

.sidebar-text p {
  font-size: 18px;
  margin: 0 0 20px 0; }

.instrument-list {
  padding: 0 5px; }

.instrument-list .main-button {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  height: fit-content;
  cursor: pointer; }

.instrument-list .btnimg {
  margin: 5px auto; }

.instrument-list .button-text {
  margin: auto;
  font-size: 1.6rem; }

.sidebar .exit-button-X {
  font-size: 1.5em;
  cursor: pointer; }

.instrument-details {
  padding: 5px;
  width: 100%;
  background: #e6e6e6; }

.instrument-details p {
  font-size: 1.5rem;
  text-align: left;
  line-height: 125%; }

.instrument-preview {
  margin: 3rem auto; }

.instrument-preview p {
  font-size: 2rem;
  text-align: center; }

.instrument-preview img {
  display: block; }

/*  MEDIA QUEEEEEEERIES */
@media screen and (min-width: 1000px) {
  .sidebar-lower {
    padding: 10px; }
  .instrument-list {
    padding: 0 20px; }
  .instrument-list .main-button {
    width: 100%;
    height: fit-content;
    margin-top: 10px; }
  .instrument-list .button-text {
    font-size: 1.6rem; } }

.App {
  text-align: center;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 84vh;
  text-align: center;
  background: white; }

h1, h2, h3 {
  font-weight: normal; }

h1 {
  margin: 3rem auto;
  font-size: 3.2rem; }

h2 {
  margin: 2rem auto;
  font-size: 2.4rem; }

h3 {
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: normal; }

.logo-div {
  width: 100vw;
  height: 16vh;
  min-height: 5.3rem;
  max-height: 11rem;
  border-bottom: #01013a 1px solid; }

.foxbat-logo {
  top: 0;
  margin: auto;
  height: 15vh;
  min-height: 5rem;
  max-height: 10rem;
  width: auto; }

.selection-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.landing-page-rectangle {
  margin: 2rem;
  padding: 0; }

.plane-selector {
  height: 20rem;
  cursor: pointer; }

.center {
  text-align: center; }

.template {
  border: 1px solid black;
  height: 128px;
  width: 256px;
  cursor: pointer; }

.template-with-text {
  width: 256px;
  display: inline-block;
  margin: 20px; }

.base-popup {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 87.5%;
  border: 1px solid black;
  border-radius: 41px;
  padding: 5%;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .base-popup h1 strong {
    color: #306ACC; }
  .base-popup form label {
    height: 30px;
    height: 3rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 25px;
    margin: 2.5rem; }
    .base-popup form label input {
      background: lightyellow;
      min-width: 50px;
      min-width: 50rem;
      height: 30px;
      height: 3rem;
      font-size: 20px;
      font-size: 2rem; }
  .base-popup select {
    border: 2px solid #306ACC; }
  .base-popup option {
    min-width: 40rem;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-size: 2rem; }
  .base-popup .errmsg {
    background: rgba(255, 0, 0, 0.27);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: 2rem; }

.form-text {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: left;
  width: 100%; }
