* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.template {
  border: 1px solid black;
  height: 128px;
  width: 256px;
}

.template-with-text {
  width: 256px;
  display: inline-block;
  margin: 20px;
}

.base-popup {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 87.5%;
  border: 1px solid black;
  border-radius: 41px;
  padding: 5%;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-popup form label {
  height: 3em;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.base-popup form label input {
  background: lightyellow;
  min-width: 50em;
  height: 3em;
}

.form-text {
  font-size: 36px;
  text-align: left;
  width: 100%;
}

.save-form-button {
  
  margin-top: 30px;
}

.main-button {
  height: 45px;
  background-color: #5E91CC;
  border-radius: 5px;
}

.button-text {
  text-align: center;
  font-size: 24px;
  margin: 35px;
}

.round-exit-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #333333;

  position: absolute;
  top: -0.3%;
  left: 94.3%;
}

.exit-button-X {
  font-size: 64px;
  color: #F2F2F2;

  position: relative;
  top: -8px;
  left: 1px;
}