* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.template {
  border: 1px solid black;
  height: 128px;
  width: 256px;
}

.template-with-text {
  width: 256px;
  display: inline-block;
  margin: 20px;
}

.form {
  border: 1px solid black;
  border-radius: 41px;
  margin: 5% 8% 5% 8%;
  padding: 5%;
}

.form-text {
  font-size: 36px;
  text-align: left;
  width: 100%;
}

.save-form-button {
  text-align: center;
  margin-top: 30px;
}

.main-button {
  height: 45px;
  background-color: #5E91CC;
  border-radius: 5px;
}

.button-text {
  font-size: 24px;
  margin: 35px;
}

.round-exit-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #333333;

  position: absolute;
  top: 6%;
  left: 89.5%;
}

.exit-button-X {
  font-size: 64px;
  color: #F2F2F2;

  position: relative;
  top: -11px;
  left: 1px;
}